* {
    margin:0;
    padding:0;
} 

.avatar{
    text-align: center;
}

.avatar img{
    border: 1px solid gray;
    border-radius: 50%;
}

.box input{
    border: none;
    display: flex;

}
.box{
    margin-left: 5px;
}

.hyphen{
    margin-left: 45px;
    margin-right: 45px;
}

td.text_flow{
    white-space: nowrap; 
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;       
}